@import "Variables";

.button {
    cursor: pointer;
    padding: 1%;
    background-color: $button-color;
    color: $button-font-color;
    font-family: $primary-font;
}

.button:hover {
    background-color: $button-hover-color;
    color: $button-hover-font-color;
}

.standard-button {
    @extend .button;
    font-size: 60%;
}

.boolean-form-button {}







// NON-MOBILE
// -------------------------------
@media(min-width: 900px) {


}