@import 'Variables';




// $form-margin: 

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// .form-row {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     padding-left: 3%;
//     padding-right: 3%;
// }

// .form-key {
//     display: flex;
//     justify-content: left;
//     padding: 2%;
//     width: 70%;

// }

// .form-value {
//     padding: 2%;
//     width: 30%;
// }

// .form-value-input {
//     font-size: 80%;
//     height: 75%;
//     overflow-x: scroll;
// }

// .form-button {
//     @extend .button;
//     width: 10%;
//     display: flex;
//     justify-content: center;
//     margin: auto;
//     margin-top: 10%;
//     margin-bottom: 2%;
// }
