@import 'Variables';

.nav {
    font-size: 60%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background-color: $nav-background-colour;
    height: 100px;
    border-bottom: 2px solid whitesmoke;
}

.nav-title {
    font-size: 150%;
    letter-spacing: 2px;
    font-weight: lighter;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    width: 30%;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navItem {
    text-decoration: none;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}

.bottom-nav {
    background: red;
    height: 120px;
    position: sticky;
    bottom: 0;
    display: none;
}

.desktop-nav {}

.mobile-nav {
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    // align-items: center;
    // margin-right: 2%;
    // display: none;
}

//MEDIUM SCREEN & MOBILE
@media screen and (max-width: $mediumScreenWidthMax) {
    .nav-title {
        width: 100%;
        justify-content: center;
    }

    .desktop-nav{
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    .bottom-nav{
        display: flex;
    }
}