// media
$mobileScreenWidthMax: 800px;
$mediumScreenWidthMax: 1000px;

// colors
$main-background-color: white;
$secondary-color: red;
$main-text-color: black;

//sizes
$default-font-size: calc(10px + 2vmin);

// buttons
$button-color: white;
$button-font-color: black;
$button-hover-color: black;
$button-hover-font-color: white;

// fonts
$primary-font: sans-serif;