// media
$mobileScreenWidthMax: 800px;
$mediumScreenWidthMax: 1000px;

// colors
$main-background-color: white;
$secondary-color: blue;
$main-text-color: black;

$nav-background-colour: white;

$selected-product-background-colour: #e5e2e2;
$unselected-product-background-colour: #f8f6f6;
$compare-bar-background-colour: lightgray;

//sizes
$default-font-size: calc(10px + 2vmin);

// buttons
$button-color: white;
$button-font-color: black;
$button-border-color: lightgrey;

$button-hover-color: white;
$button-hover-font-color: white;
$button-hover-border-color: black;

// fonts
$primary-font: sans-serif;

$secondary-font-color: white;