@import 'toolbar';
@import 'productList';
@import 'functional';
@import 'productView';

.dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard-title {}

.dashboard-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

.dashboard-content-secondary {
    width: 25%;
    height: 100%;
    padding-bottom: 2%;

    background-color: rgb(213, 223, 233);
}

.dashboard-content-primary {
    width: 75%;
    background-color: $main-background-color;
}


.dashboard-bottom {}


//MEDIUM SCREEN
// @media screen and (max-width: $mediumScreenWidthMax) {
//     .dashboard-content-toolbar{
        
//     }
// }

//MOBILE SCREEN
@media screen and (max-width: $mobileScreenWidthMax) {
    .dashboard-content-toolbar{
        display: none;
        
    }

    .dashboard-content-secondary {
        display: none;
        
    }
}