@import 'toolbar';
@import 'productList';
@import 'functional';

.dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard-title {}

.dashboard-content {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 2%;
}

.dashboard-content-secondary {
    width: 25%;
    height: 100%;

    background-color: lightslategray;
}

.dashboard-content-primary {
    width: 75%;
    background-color: blue;
}


.dashboard-content-bottom {}


//MEDIUM SCREEN
// @media screen and (max-width: $mediumScreenWidthMax) {
//     .dashboard-content-toolbar{
        
//     }
// }

//MOBILE SCREEN
@media screen and (max-width: $mobileScreenWidthMax) {
    .dashboard-content-toolbar{
        display: none;
        
    }
}