

.dashboard-content-toolbar {
    display: flex;
    flex-direction: row;
}

.dashboard-content-toolbar-right{
    display: flex;
    flex-direction: row;
    width: 75%;
}

.dashboard-content-toolbar-left{
    width: 25%;
}

.toolbar-sort {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 30%;
    margin-right: 5%;
}

.toolbar-compare {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 5%;
}

.toolbar-filter {
    background-color: lightslategray;
}

//MEDIUM SCREEN
// @media screen and (max-width: $mediumScreenWidthMax) {
//     .dashboard-content-toolbar{
        
//     }
// }

//MOBILE SCREEN
@media screen and (max-width: $mobileScreenWidthMax) {
    .dashboard-content-toolbar{
        display: none;
        
    }
}